[submodule "vendor/libzmq"]
	path = vendor/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl.git
[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "vendor/liquidfun"]
	path = vendor/liquidfun
	url = https://github.com/google/liquidfun.git
[submodule "vendor/libsodium"]
	path = vendor/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "vendor/rabbitmq-c"]
	path = vendor/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
